<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${event.name}"></title>
</head>
<body>
<h4 align="center" th:text="${message}"></h4>
<table>
    <thead>
        <tr th:text="${event.name}"></tr>
    </thead>
        <tr>
            <td>Date: </td>
            <td th:text="${event.date}"></td>
        </tr>
        <tr>
            <td>Owner: </td>
            <td th:text="${event.owner}"></td>
        </tr>
        <tr>
            <td>Country: </td>
            <td th:text="${event.country}"></td>
        </tr>
        <tr>
            <td>City: </td>
            <td th:text="${event.city}"></td>
        </tr>
        <tr>
            <td>Street: </td>
            <td th:text="${event.street}"></td>
        </tr>
        <tr style="display: none">
            <td>Street: </td>
            <td th:text="${event.x}"></td>
            <td>Street: </td>
            <td th:text="${event.y}"></td>
        </tr>
        <tr>
            <td>Description: </td>
            <td th:text="${event.description}"></td>
        </tr>
        <tr>

            <a type="button" th:href="#{server.eve.url} + ${action}" th:disabled="${disabled}" >Delete</a>
        </tr>
    <tbody>

    </tbody>

</table>
</body>
</html>