<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/public/css/style.css}" rel="stylesheet">
    <link href="../static/public/css/style.css" rel="stylesheet">
    <title>Events</title>
</head>
<body>
<h4 align="center" th:text="${message}"></h4>
    <div class="map__wrapper no-opacity">
        <div id='map'></div>
    </div>
    <div class="menu__toggle">
        <button class="menu__toggle-burger toggle burger">
            <svg class="burger__svg svg" width="25px" height="25px">
                <use xlink:href="../static/public/img/icon-menu-burger.svg#icon-menu-burger">
                </use>
            </svg>
            <svg class="burger__svg burger__svg-cross burger__svg--close svg" width="25px" height="25px">
                <use xlink:href="../static/public/img/close.svg#icon-menu-cross">
                </use>
            </svg>
        </button>
        <div class="menu__burger visually-hidden">
            <a class="menu__link home" th:href="#{server.eve.url}">
                Главная страница
            </a>
            <a class="menu__link event" th:href="#{server.eve.url} + /home/events">
                События
            </a>
            <a class="menu__link logout" th:href="#{server.eve.url} + /logout">
                Выйти
            </a>
        </div>
    </div>
    <div class="events">
        <div class="events__wrapper-title">
            <h1 class="events__title">События</h1>
            <a class="events__link" th:href="#{server.eve.url} + #{server.eve.event.add.url}">+</a>
        </div>
        <table class="events__wrapper">
            <tr class="events__list-title">
                <td class="events__item"> </td>
                <td class="events__item">
                    <span>Name</span>
                </td>
                <td class="events__item">
                    <span>Owner</span>
                </td>
                <td class="events__item">
                    <span>Date</span>
                </td>
            </tr>
            <tr class="events__list" th:each="e,iterationStatus  : ${events}">
                <td class="events__item" th:text="${iterationStatus.count}">1</td>

                <td class="events__item">
                    <a th:href="#{server.eve.event.url} + ${e.id}"
                       th:text="${e.name}"></a>
                </td>
                <td th:text="${e.owner}" class="events__item"></td>
                <td th:text="${e.date}" class="events__item"></td>

            </tr>

        </table>
    </div>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="../static/public/js/map.js"></script>
    <script th:src="@{/public/js/map.js}"></script>
    <script src="../static/public/js/toggle.js"></script>
    <script th:src="@{/public/js/toggle.js}"></script>
</body>
</html>