<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<H1>EVENTS</H1>
<a th:text="#{but.addevent}" th:href="#{server.eve.url} + #{server.eve.event.add.url}"></a>
<table>
    <thead>
        <td></td>
        <td>Name</td>
        <td>Owner</td>
        <td>Date</td>
        <td>Address</td>
    </thead>
    <tr th:each="e,iterationStatus  : ${events}">
        <td th:text="${iterationStatus.count}">1</td>

        <td>
            <a th:href="#{server.eve.event.url} + ${e.id}"
               th:text="${e.name}"></a>
        </td>
        <td th:text="${e.owner}"></td>
        <td th:text="${e.date}"></td>
        <td th:text="${e.address}"></td>

    </tr>

</table>


</body>
</html>