<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<H1>EVENTS</H1>
<table>
    <tr th:each="e,iterationStatus  : ${eventList}">
        <td th:text="${iterationStatus.count}">1</td>
        <td th:text="${e.id}">001</td>
        <td th:text="${e.name}">Name</td>
        <!--<td th:text="${e.city}">City</td>-->
        <!--<td th:text="${e.country}">Country</td>-->
    </tr>

</table>


</body>
</html>