<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Form</title>
</head>
<body>
<form name='addEventForm' th:eventDto="${event}"  th:action="@{/home/events/add}" method="post">
<table>
    <thead>

    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>
                <input th:field="*{event.name}"/>
            </td>
        </tr>
        <tr>
            <td>Date</td>
            <td>
                <input th:field="*{event.date}"/>
            </td>

        </tr>
        <tr>
            <td>Owner</td>
            <td>
                <input th:field="*{event.owner}"/>
            </td>

        </tr>
        <tr>
            <td>Country</td>
            <td>
                <input th:field="*{event.country}"/>
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                <input th:field="*{event.city}"/>
            </td>
        </tr>
        <tr>
            <td>Street</td>
            <td>
                <input th:field="*{event.street}"/>
            </td>
        </tr>

        <tr>
            <td>x
                <input th:field="*{event.x}"/>
            </td>
            <td>y
                <input th:field="*{event.y}"/>
            </td>
        </tr>

        <tr>
            <td>Description</td>
            <td>
                <input th:field="*{event.description}"/>
            </td>
        </tr>

    </tbody>

</table>
    <button type="submit">Add</button>
</form>
</body>
</html>