<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Home page</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="map__wrapper">
        <div id='map'></div>
    </div>
    <div class="panel">
        <ul class="panel__list">
            <li class="panel__item">
                <a class="panel__link" href="/login">Вход</a>
            </li>
            <li class="panel__item">
                <a class="panel__link" href="/logout">Выход</a>
            </li>
            <li class="panel__item">
                <a class="panel__link" href="/registration/create_account">Регистрация</a>
            </li>
            <li class="panel__item">
                <a class="panel__link" href="/home/events">События</a>
            </li>
        </ul>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="../static/js/map.js"></script>
</body>
</html>