<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login page</title>
    <link  th:href="@{/public/css/style.css}" rel="stylesheet">
    <!--<link href="../static/public/css/style.css" rel="stylesheet">-->
</head>
<body>
    <div class="login">
        <div class="login__wrapper container">
            <h1>Вход</h1>
            <form name='loginForm' th:action="@{/login}" method="post">
                <ul class="login__list">
                    <li class="login__item">
                        <label for="name-user">Пользователь:</label>
                        <input class="login__input user" type='text' name='username' id="name-user" value=''>
                    </li>
                    <li class="login__item">
                        <label for="name-pass">Пароль:</label>
                        <input class="login__input password" type='password' name='password' id="name-pass"/>
                    </li>
                    <li class="login__item">
                        <input class="login__submit" name="submit" type="submit" value="submit" />
                    </li>
                </ul>
            </form>
        </div>
        <div class="login__reg">
            <p class="login__title">Впервые на сайте? Пройдите
                <a class="login__link" href="/registration">
                    регистрацию
                </a>
            </p>
        </div>
    </div>
</body>
</html>